<h1> Add new Items </h1>

<form action="/items" method="POST">
	<%# <input type=text name="name" placeholder="Item Name">
	<input type=number name="price" placeholder="Item Price"> %>

	<input type=text name="item[name]" placeholder="Item name">
	<input type=number name="item[price]" placeholder="Price in EUR">
	<input type=submit>

</form>